@{
    ViewData["Title"] = "Consolas SEGA";
}
<section class="px-4 py-5 my-5 text-center">
  <h1 class="display-6 fw-bold">@ViewData["Title"]</h1>
  <main class="mainDestacados">
      <div class="containerProdutos mt-5">
        <div class="row">
          <div class="col">
            <div class="produto">
              <img src="\Images\Genesis.png" alt="Génesis" class="produto__img" width="200px">
              <div class="productDescription">
                <h3 class="produto__title">Sega Génesis</h3>
                <span class="produto__price">S/ 400.00</span>
                <br><button class="btn btn-primary"> Añadir a carrito</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="produto">
              <img src="\Images\Saturn.png" alt="Saturn" class="produto__img" width="200px">
              <div class="productDescription">
                <h3 class="produto__title">Sega Saturn</h3>
                <span class="produto__price">S/ 550.00</span>
                <br><button class="btn btn-primary"> Añadir a carrito</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="produto">
              <img src="\Images\GameGear.png" alt="GameGear" class="produto__img" width="200px">
              <div class="productDescription">
                <h3 class="produto__title">Game Gear</h3>
                <span class="produto__price">S/ 450.00</span>
                <br><button class="btn btn-primary"> Añadir a carrito</button>
              </div>
            </div>
          </div>
        </div>
      </div>      
  </main>
</section>
