@{
    ViewData["Title"] = "Consolas XBOX";
}
<section class="px-4 py-5 my-5 text-center">
  <h1 class="display-6 fw-bold">@ViewData["Title"]</h1>
  <main class="mainDestacados">
      <div class="containerProdutos mt-5">
        <div class="row">
          <div class="col">
            <div class="produto">
              <img src="\Images\Xbox_clasico.png" alt="Xbox_Clasico" class="produto__img" width="200px">
              <div class="productDescription">
                <h3 class="produto__title">Xbox Cl치sico</h3>
                <span class="produto__price">S/ 400.00</span>
                <br><button class="btn btn-primary"> A침adir a carrito</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="produto">
              <img src="\Images\Xbox_360.png" alt="Xbox_360" class="produto__img" width="200px">
              <div class="productDescription">
                <h3 class="produto__title">Xbox 360</h3>
                <span class="produto__price">S/ 550.00</span>
                <br><button class="btn btn-primary"> A침adir a carrito</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="produto">
              <img src="\Images\Xbox_one.png" alt="Xbox_One" class="produto__img" width="200px">
              <div class="productDescription">
                <h3 class="produto__title">Xbox One</h3>
                <span class="produto__price">S/ 850.00</span>
                <br><button class="btn btn-primary"> A침adir a carrito</button>
              </div>
            </div>
          </div>
        </div>
      </div>      
  </main>
</section>
