@model ControlWavi.Models.Pago
@{
    ViewData["Title"] = "Pago";
}
<section class="px-4 pt-5 mt-5 ">
  <h1 class="display-6 fw-bold text-center pb-3">@ViewData["Title"]</h1>
  <div class="container">
      <div class="row">
        <div class="col-sm-10 mb-5">
          <form asp-controller="Pago" asp-action="Pagar">
            <div class="form-group row p-2">
              <input type="hidden" asp-for="UserID"/>
              <div class="col-sm-2 offset-sm-4">
                <label asp-for="NombreTarjeta" class="control-label"></label>
              </div>
              <div class="col-sm-4">
                <input asp-for="NombreTarjeta" class="form-control" />
              </div>
            </div>
            <div class="form-group row p-2">
              <div class="col-sm-2 offset-sm-4">
                <label asp-for="NumeroTarjeta" class="control-label"></label>
              </div>
              <div class="col-sm-4">
                <input asp-for="NumeroTarjeta" class="form-control" data-inputmask="'mask': '9999-9999-9999-9999'" />
              </div>
            </div>              
            <div class="form-group row p-2">
              <div class="col-sm-2 offset-sm-4">
                <label asp-for="DueDateYYMM" class="control-label"></label>
              </div>
              <div class="col-sm-4">
                <input asp-for="DueDateYYMM" class="form-control" data-inputmask="'mask': '99/99', 'placeholder': 'yy/mm'" />
              </div>
            </div>
            <div class="form-group row p-2">
              <div class="col-sm-2 offset-sm-4">
                <label asp-for="Cvv" class="control-label"></label>
              </div>
              <div class="col-sm-4">
                <input asp-for="Cvv" class="form-control" data-inputmask="'mask': '999', 'placeholder': '999'" />
              </div>
            </div>
            <div class="form-group row p-2">
              <div class="col-sm-2 offset-sm-4">
                <label asp-for="MontoTotal" class="control-label"></label>
              </div>
              <div class="col-sm-4">
                <input asp-for="MontoTotal" class="form-control" data-thousands="," data-decimal="." />
              </div>
            </div>  
            <div class="form-group row p-2">
              <div class="col-sm-2 offset-sm-4"></div>
              <div class="col-sm-4">
                <button type="submit" class="btn btn-primary btn-lg">Pagar</button> 
              </div>
            </div>
          </form>
          <h1>@ViewData["Message"]</h1>
        </div>
      </div>
  </div>
</section>     
