@model ControlWavi.Models.Producto

@{
    ViewData["Title"] = "Editar producto";
}

<section class="container px-4 py-5 my-5">
    <h1 class="display-6 fw-bold text-center">@ViewData["Title"]</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Precio" class="control-label"></label>
                    <input asp-for="Precio" class="form-control" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PorcentajeDescuento" class="control-label"></label>
                    <input asp-for="PorcentajeDescuento" class="form-control" />
                    <span asp-validation-for="PorcentajeDescuento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageName" class="control-label"></label>
                    <input asp-for="ImageName" class="form-control" />
                    <span asp-validation-for="ImageName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group mt-3 mb-2">
                    <input type="submit" value="Guardar" class="btn btn-primary" /> |
                    <a class="btn btn-dark" asp-action="Index">Cancelar</a>
                </div>
            </form>
        </div>        
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
