@{
    ViewData["Title"] = "Home Page";
}
<header>
<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <link rel="stylesheet" href="css/site.css">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
</div>
</header>

<body>
  
    <footer>
        <div class="container-footer-all">
        <div class="container-body">
            <div class="columna1">
                  <a href="https://localhost:5001/Home/Privacy">SOBRE NOSOTROS</a>
                  
            </div>
            <div class="columna2">
                <h1>REDES SOCIALES:</h1>
                <div class="row">
                    <img src="/imagen/facebook.jpg"  alt="">
                    <label>Siguenos en facebook</label>
                </div>
                <div class="row">
                    <img src="/imagen/instagran.jpg" alt="">
                    <label>Siguenos en instagran</label>
                </div>
                <div class="row">
                    <img src="/imagen/Twitter.jpg"  alt="">
                    <label>Siguenos en twitter</label>
                </div>
                
            </div>
            <div class="columna3">
                <h1>INFORMACION DE CONTACTO:</h1>
                <div class="row2">
                 <img src="/imagen/casa.jpg" alt="">
                 <label>Av.Brazil 120, Lima Perú</label>
                </div>
                <div class="row2">
                 <img src="/imagen/whatsapp2.jpg" alt="">
                 <label>+51 946658835</label>
                </div>
                <div class="row2">
                 <img src="/imagen/correo.jpg"  alt="">
                 <label>alexa@gmail.com</label>
                </div>
            </div>
        </div>
     </div>
     <div class="container-footer">
         <div class="footer">
            <div class="copyright">
                &copy; 2022 Todos los derechos Reservados | 
                <a href="#">CONTROL WAVI</a>
            </div>
         </div>
        </div>
    </footer>
</body>
