@{
    ViewData["Title"] = "SOBRE NOSOTROS:";
}
<h1>@ViewData["Title"]</h1>

                  <p>Somos una tienda que se encarga de la venta de 
                     consolas garantizamos que su compra sera 
                     satisfactoria y con un año de garantia
                     en nuestros productos nuevos.</p>
